.cart-container img{
    width: 100px;
    border-radius: 10px;
}
.cart-container{
    border: 2px solid skyblue;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.card-cart {
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}